html,
body {
  /* font-family: "Inter", "Lexend Deca", sans-serif; */
  height: 100%;
  background-color: hsl(233, 47%, 7%);
}

/* section */
section {
  height: 100%;
}

/* card */
.card {
  background-color: hsl(244, 38%, 16%);
  color: white;
}

.card .row .card-body h5 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.card .row .card-body h5 span {
  color: hsl(277, 64%, 61%);
}

.card .row .card-body p.experience {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  width: 90%;
}
/* kasih width:90% untuk mengatur lebar dari paragraf nya agar sama seperti design. */

.card .row .card-body .status-value {
  margin-top: 60px;
  font-family: "Inter", sans-serif;
}

.card .row .card-body .status-value .title {
  font-weight: 700;
  font-size: 20px;
}

.card .row .card-body .status-value .sub-title p.card-text {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

.card .row .card-body .status-value .companies,
.card .row .card-body .status-value .templates,
.card .row .card-body .status-value .queries {
  margin-right: 65px;
}

/* right side */
.card .row .right-side {
  background-image: url(../images/image-header-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.card .row .right-side .purple {
  background-color: hsla(277, 64%, 61%, 0.6);
  filter: brightness(0.5) contrast(1.5) saturate(1.5);
  width: 100%;
  height: 100%;
}

/* media queries */
@media (max-width: 575.98px) {
  body {
    flex-wrap: nowrap;
  }

  section .card {
    flex-wrap: nowrap;
    margin-top: 80px;
    transform: scale(0.85);
  }

  .card .row {
    position: relative;
    margin-top: 200px;
  }

  .card .row .card-body {
    text-align: center;
    width: 345px;
  }

  .card .row .card-body h5 {
    margin-top: 50px;
  }

  .card .row .card-body p.experience {
    margin-left: 10px;
  }

  .card .row .status-value {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
  }

  .card .row .status-value .companies,
  .card .row .status-value .templates {
    margin-bottom: 30px;
  }

  .card .row .right-side {
    background-image: url(../images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    margin-top: 250px;
    position: absolute;
    top: -450px;
    overflow: hidden;
  }
}
